# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\offline\CSE 474\Offline 2 - Neural Network\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
